{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kegiatan</title>
    <!--css Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--Akhir CSS Bootstrap-->
    <style>
    footer {
      height: 300px;
      margin-top: 40px;
  }
  
  .foot-title {
      font-weight: bold;
      margin-left: 20px;
      color: #fff;
      font-size: x-large;
  }
  
  .foot-right {
      width: 320px;
      color: #fff;
  }
  
  .foot-container {
      padding-top: 40px;
  }
  </style>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-info">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tentang
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/profil">Profil</a></li>
                <li><a class="dropdown-item" href="/visi">Visi</a></li>
                <li><a class="dropdown-item" href="/struktur">Struktur</a></li>
                <li><a class="dropdown-item" href="/dosen">Dosen</a></li>
                <li><a class="dropdown-item" href="/akreditasi">Akreditasi</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Akademik
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/pedoman">Pedoman</a></li>
                <li><a class="dropdown-item" href="/kalender">Kalender</a></li>
                <li><a class="dropdown-item" href="/fasilitas">Fasilitas</a></li>
                <li><a class="dropdown-item" href="/kurikulum">Kurikulum</a></li>
                <li><a class="dropdown-item" href="/beasiswa">Beasiswa</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mahasiswa
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/kegiatan">Kegiatan</a></li>
                <li><a class="dropdown-item" href="/mahasiswa">Mahasiswa</a></li>
                <li><a class="dropdown-item" href="/prestasi">Prestasi</a></li>
                <li><a class="dropdown-item" href="/statistik">Statistik</a></li>
                <li><a class="dropdown-item" href="/tahapan">Tahapan</a></li>
                <li><a class="dropdown-item" href="/tracer">Tracer</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Publikasi
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/penelitian">Penelitian</a></li>
                <li><a class="dropdown-item" href="/pengabdian">Pengabdian</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sismat
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/spada">Spada</a></li>
                <li><a class="dropdown-item" href="/siakad">Siakad</a></li>
                <li><a class="dropdown-item" href="/silatta">Silatta</a></li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!--Akhir Navbar-->
    <h1>Kegiatan</h1>

    <footer class="bg-success">
      <div class="container">
          <div class="foot-container d-flex justify-content-between align-items-start">
              <div class="foot-logo d-flex align-items-center">
                  <img src="https://untirta.ac.id/wp-content/uploads/2020/01/Untirta-Logo-Transparan.png" alt="logo" width="100px">
                  <p class="foot-title">LAYANAN AKADEMIK<br>UNTIRTA</p>
              </div>
              <div class="foot-right">
                  <h3>Contact :</h3>
                  <p>Jl. Raya Palka Km 3 Sindangsari, Pabuaran, Kab. Serang Provinsi Banten</p>
                  <p>Telp : +62254 3204321</p>
                  <p>Fax : +62254 281254</p>
                  <p>Email : humas@untirta.ac.id</p>
              </div>
          </div>
      </div>
  </footer>
    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!--Akhir JS Bootstrap-->
</body>
</html>