<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siakad</title>
    <!--css Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--Akhir CSS Bootstrap-->
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Tentang
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profil</a></li>
                <li><a class="dropdown-item" href="#"></a>Visi</li>
                <li><a class="dropdown-item" href="#"></a>Struktur</li>
                <li><a class="dropdown-item" href="#"></a>Dosen</li>
                <li><a class="dropdown-item" href="#"></a>Akreditasi</li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Akademik
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a>Pedoman</li>
                <li><a class="dropdown-item" href="#"></a>Kalender</li>
                <li><a class="dropdown-item" href="#"></a>Fasilitas</li>
                <li><a class="dropdown-item" href="#"></a>Kurikulum</li>
                <li><a class="dropdown-item" href="#"></a>Beasiswa</li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mahasiswa
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a>Kegiatan</li>
                <li><a class="dropdown-item" href="#"></a>Mahasiswa</li>
                <li><a class="dropdown-item" href="#"></a>Prestasi</li>
                <li><a class="dropdown-item" href="#"></a>Statistik</li>
                <li><a class="dropdown-item" href="#"></a>Tahapan</li>
                <li><a class="dropdown-item" href="#"></a>Tracer</li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Publikasi
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a>Penelitian</li>
                <li><a class="dropdown-item" href="#"></a>Pengabdian</li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sismat
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"></a>Spada</li>
                <li><a class="dropdown-item" href="#"></a>Siakad</li>
                <li><a class="dropdown-item" href="#"></a>Silatta</li>
                <li><hr class="dropdown-divider"></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!--Akhir Navbar-->
    <h1>Siakad</h1>
    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <!--Akhir JS Bootstrap-->
</body>
</html>